<app-nav-bar></app-nav-bar>

<div class="col-12 header">
	<h2>Bienvenido {{ user.nombre }}</h2>
	<h3>Lista de tus nominas</h3>
</div>
<div class="row">
	<div class="col-lg-offset-8 col-lg-4">
		<div class="input-group">
			<input type="text" [(ngModel)]="filterTerm" class="form-control" placeholder="Buscar por mes o por año...">
			<span class="input-group-btn">
				<button class="btn btn-default glyphicon glyphicon-search" type="button" ></button>
			</span>
		</div>
		<!-- /input-group -->
	</div>
</div>
<div class="panel panel-body">

	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>PDF</th>
				<th>XML</th>
				<th>FECHA</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of dataFiles | searchFile:filterTerm  | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
				<th scope="row"> {{ i + 1 }} </th>
				<td>
					<div class="col-md-12">
						<span class="col-md-6">{{ item.pdf }}</span>
						<a href="{{ url_documents + item.carpeta + '/' + item.pdf }}" download>
						  	<button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
				            	<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
				          	</button>
						</a>
						<a href="{{ url_documents + item.carpeta + '/' + item.pdf }}" target="_blank">
							<button type="button" class="btn btn-info btn-sm" aria-label="Left Align">
					            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					        </button>
				  		</a>
					</div>
				</td>
				<td>
					<div class="col-md-12">
						<span class="col-md-6">{{ item.xml }}</span>
						<a href="{{ url_documents + item.carpeta + '/' + item.xml }}" download>
						  	<button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
				            	<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
				          	</button>
			  			</a>
					</div>
				</td>
				<td>
					<span> {{ item.fecha | dateFile }} </span>
				</td>
			</tr>

		</tbody>
	</table>
	<div class="row">
		<div class="col-lg-offset-4 col-md-8">
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>
</div>
