<app-nav-bar></app-nav-bar>

<div class="col-12 header">
  <h1>Nominas</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>PDF</th>
      <th>XML</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataFiles">
      <th scope="row">1</th>
      <td>
        <div class="col-md-12">
          <span class="col-md-6">{{ item.file_pdf }}</span>
          <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          </button>
        </div>
      </td>
      <td>
        <div class="col-md-12">
          <span class="col-md-6">{{ item.file_xml }}</span>
          <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          </button>
        </div>
      </td>
    </tr>

  </tbody>
</table>
