<div class="col-md-offset-4 col-md-4" style="background-color: #777; margin-top: 10%; color: white; padding: 2%;">
	<div class="card card-container margin-card center-block">
		<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
		<img id="profile-img" class="col-md-offset-3 col-md-6  img-circle " src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">

		<p id="profile-name" class="profile-name-card"></p>

		<form class="form-signin" #f="ngForm" (ngSubmit)="login(f)">

			<span id="reauth-email" class="reauth-email"></span>

			<input type="text" name="inputRfc" id="inputRfc" ngModel #inputRfc="ngModel" class="form-control " placeholder="Ingresa tu RFC" autofocus="">

			<div class="col-4 alerts">
				<span class="text-danger" role="alert" *ngIf="inputRfc.invalid && (inputRfc.dirty || inputRfc.touched)">Usuario invalido</span>
			</div>

			<input type="password" name="inputPassword" id="inputPassword" ngModel #inputPassword="ngModel" class="form-control" placeholder="Clave Minimo 8 caracteres" appPassword>

			<div class="col-4 alerts">
				<span class="text-danger" role="alert" *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">Contraseña invalida</span>
			</div>

			<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="showAlertDanger">
			  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
			  <strong>Error!</strong> {{ msjError }}
			</div>

			<button class="btn btn-lg btn-primary btn-block btn-signin" *ngIf="inputPassword.errors || inputRfc.errors" disabled>Entrar</button>
			<button class="btn btn-lg btn-primary btn-block btn-signin" *ngIf="!inputPassword.errors && !inputRfc.errors">Entrar</button>
		</form>
		<!-- /form -->

		<a href="#" class="forgot-password">
          ¿Olvidaste la contraseña?
      </a>

	</div>
</div>
